extends Base
block content
  p Welcome, #{email}.
  button(onclick="logout()") Logout
  input(id="newSubredditInput" type="text" placeholder="Subreddit name (e.g. askreddit)")
  button(onclick="add()") Add
  p Your subreddit subscriptions (you'll receive a digest every day):
  each subreddit of subreddits
    div(id=`${subreddit}-div`)
      p #{subreddit}
      button(onclick=`remove("${subreddit}")`) Remove
  div(id="subscriptions")

  script.
    function add() {
      const inputVal = document.querySelector("#newSubredditInput").value
      
      if (inputVal === "") return

      const subdiv = document.querySelector("#subscriptions")

      if (subdiv.textContent.includes(inputVal)) return

      fetch("/api/item-crud", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          query: "ADD_SUBREDDIT_SUBSCRIPTION",
          data: {
            subreddit: inputVal
          }
        })
      }).then(() => {
        const newSubredditContainer = document.createElement("div", { id: `#${inputVal}-div` })
        const newSubredditNode = document.createElement("p")
        newSubredditNode.appendChild(document.createTextNode(inputVal))
        newSubredditContainer.appendChild(newSubredditNode)
        const removeBtn = document.createElement("button", { onclick: `remove("${inputVal}")`})
        removeBtn.appendChild(document.createTextNode("Remove"));
        newSubredditContainer.appendChild(removeBtn)
        subdiv.appendChild(newSubredditContainer)
      })
    }

    function remove(subreddit) {
      fetch("/api/item-crud", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          query: "REMOVE_SUBREDDIT_SUBSCRIPTION",
          data: {
            subreddit: subreddit
          }
        })
      }).then(() => {
        document.querySelector(`#${subreddit}-div`).remove()
      })
    }

    function logout() {
      document.cookie = 'token=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      location.reload()
    }