extends Base
block content
  unless isPremium
    div(class="premiumBanner")
      h2 Enhance your Reddit digest with premium!
      p Support nomodoom! For only $3/year add the following to your Reddit digest:
      ul
        li Add the top three comments per post
        li More to come!
      a(href="https://buy.stripe.com/3cseW75dc7ZZ5xK8wx") Click here to sign up
      br
      b Important: Enter the same email as your nomodoom account on the payment form.
      br
  unless !isPremium
    p You have premium for Reddit! Thanks :)
  h2 Your subreddit subscriptions:
  p You'll receive the top 3 posts of each subreddit daily.
  input(id="newSubredditInput" type="text" placeholder="Subreddit name (e.g. askreddit)")
  button(id="addButton" onclick="add()") Add
  div(id="subscriptions")
    each subreddit of subreddits
      div(id=`${subreddit}-div`)
        p #{subreddit}
        button(onclick=`remove("${subreddit}")`) Remove
  style.
    .premiumBanner {
      background-color: #161F27;
      padding: 2px 30px 20px;
      color: white;
    }
  script.
    function add() {
      const addButton = document.querySelector("#addButton")
      const inputVal = document.querySelector("#newSubredditInput").value
      
      if (inputVal === "") return

      if (inputVal.includes("/")) {
        alert('Cannot have "/" in the subreddit name');
        return
      }

      addButton.disabled = true;

      const subdiv = document.querySelector("#subscriptions")

      if (subdiv.textContent.includes(inputVal)) return

      fetch(`/api/validate-subreddit/${inputVal}`)
        .then((res) => {
          console.log(res)

          if (!res.ok) {
            alert("Invalid subreddit.")
            return
          }

          fetch("/api/item-crud", {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              query: "ADD_SUBREDDIT_SUBSCRIPTION",
              data: {
                subreddit: inputVal
              }
            })
        }).then(() => {
          const newSubredditContainer = document.createElement("div")
          newSubredditContainer.setAttribute("id", `${inputVal}-div`)
          const newSubredditNode = document.createElement("p")
          newSubredditNode.appendChild(document.createTextNode(inputVal))
          newSubredditContainer.appendChild(newSubredditNode)
          const removeBtn = document.createElement("button")
          removeBtn.setAttribute("onclick", `remove("${inputVal}")`)
          removeBtn.appendChild(document.createTextNode("Remove"));
          newSubredditContainer.appendChild(removeBtn)
          subdiv.appendChild(newSubredditContainer)
          document.querySelector("#newSubredditInput").value = ""
        })
      }).catch((err) => {
        console.error(err)
        alert("Something went wrong when querying the subreddit.")
      })
      .finally(() => {addButton.disabled = false});

    }

    function remove(subreddit) {
      fetch("/api/item-crud", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          query: "REMOVE_SUBREDDIT_SUBSCRIPTION",
          data: {
            subreddit: subreddit
          }
        })
      }).then(() => {
        document.querySelector(`#${subreddit}-div`).remove()
      })
    }

    function logout() {
      document.cookie = 'token=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      location.reload()
    }
